*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.body_wrapper {
    max-width: 100vw;
    padding: 37px 23px 20px 23px;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
    margin: 0;
    padding: 0;
}

/*==============*/

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.header_title {
    font-family: 'Inter', serif;
    line-height: normal;
    color: #353535;
    display: flex;
    flex-direction: column;

    width: calc(100% - 70px);
}

.header_title h1 {
    font-weight: 700;
    font-size: 47px;
}

.header_title a {
    font-weight: 700;
    font-size: 47px;
    text-decoration: none;
    color: #353535;
}

.header_title span {
    font-weight: 400;
    font-size: 17px;
    margin-top: 5px;
}

.header_ava {
    width: 70px;
    height: 70px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

.header_ava img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*==============*/

.main {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: end;
    height: fit-content;
}

.remainder {
    margin-bottom: 15px;
    margin-right: 10px;
    font-family: 'Inter', serif;
    font-weight: 700;
    font-size: 20px;
    color: #353535;
}

.remainder_2 {
    position: relative;
    width: 30px;
    height: 30px;
    /*border: 1px solid red;*/
}

.remainder_2:before, .remainder_2:after {
    content: '';
    position: absolute;
    width: 90%;
    height: 5px;
    background: #353535;
    top: 50%;
    left: 50%;
    border-radius: 20px;
}

.remainder_2:before {
    transform: translate(-50%, -50%) rotate(90deg) ;
}

.remainder_2:after {
    transform: translate(-50%, -50%) rotate(0) ;
}

.main_inner {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #E86C50;
    border-radius: 25px;
    padding: 30px 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.main_item_2 {
    border-radius: 15px;
    background: #5084E8;
    position: relative;
}

.main_item:last-child {
    margin-bottom: 0;
}

.main_item h3 {
    font-family: 'Inter', serif;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}

.main_item_2 h3 {
    width: 100%;
    text-align: center;
}

.exit {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 22px;
    height: 22px;
}

.exit:before, .exit:after {
    content: '';
    position: absolute;
    width: 70%;
    height: 3px;
    background: #fff;
    top: 50%;
    left: 50%;
    border-radius: 20px;
}

.exit:before {
    transform: translate(-50%, -50%) rotate(45deg) ;
}

.exit:after {
    transform: translate(-50%, -50%) rotate(135deg) ;
}

/*==============*/

.footer {
    width: 100%;
    height: fit-content;
    margin-top: 40px;
}

.footer h3 {
    font-family: 'Inter', serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #353535;
    line-height: 150%;
}